body {
  margin: 0;
  font-family: 'Poppins',sans-serif,'Helvetica Neue',Helvetica,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

table{
  width: 50%;
}
thead{
  border-width:"1px";
  border-color: #aaaaaa;
  border-style: solid;
}

.table >thead>tr>th {
  background-color: #121212;
  color: #1DB954;
}